<h1>Chapitres pour le cours : {{ course.title }}</h1>

<ul>
    {% for chapitre in chapitres %}
        <li>{{ chapitre.nom_chapitre }} - {{ chapitre.description }}</li>

        <li><a href="{% url 'chapitre_detail' chapitre.id %}">{{ chapitre.nom_chapitre }}</a></li>


        <a href="{% url 'chapitre_videos' chapitre.id %}">Voir les vidéos</a>
        <a href="{% url 'chapitre_audios' chapitre.id %}" class="btn btn-primary">Voir les audios</a>
        <a href="{% url 'chapitre_textes' chapitre.id %}" class="btn btn-primary">Voir les textes</a>


        <a href="{% url 'create_quiz' chapitre.id %}">Creer quiz</a>
        
        
    {% empty %}
        <li>Aucun chapitre n'est encore ajouté à ce cours.</li>
    {% endfor %}
</ul>

<a href="{% url 'create_chapitre' course.id %}">Ajouter un chapitre</a>
