<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To your Dashboard, {{ user.prenom }} {{ user.nom }}!!!</h1>
    <p>Rôle : {{ user.get_role_display }}</p>  <!-- Affiche le rôle de l'utilisateur -->
    <h2>Create your course <a href="{% url 'create_course' %}">+</a></h2>
    <p><a href="{% url 'logout_view' %}">Se déconnecter</a></p>  <!-- Lien pour se déconnecter -->
</body>
</html>