<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord étudiant</title>
</head>
<body>
    <h1>Bienvenue sur votre Tableau de Bord, {{ user.prenom }} {{ user.nom }} !</h1>

    <p>Rôle : {{ user.get_role_display }}</p>

    <div>
        <!-- Bouton pour afficher la liste des cours disponibles -->
        <h2>Accès rapide :</h2>
        <button onclick="window.location.href='{% url 'available_courses' %}'">
            Voir les cours disponibles
        </button>
        <button onclick="window.location.href='{% url 'enrolled_courses' %}'">
            Voir les cours inscrits
        </button>
    </div>

    <p><a href="{% url 'logout_view' %}">Se déconnecter</a></p>  <!-- Lien pour se déconnecter -->
</body>
</html>
