<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey There!! Welcome on the Site</h1>
    <h2>Enseignant <a href="{% url 'register_enseignant' %}">+</a></h2>
    <h2>Tuteur <a href="{% url 'register_tuteur' %}">+</a></h2>
    <h2>Etudiant <a href="{% url 'register_etudiant' %}">+</a></h2>
    <h1>Login <a href="{% url 'login_view' %}">Signin</a></h1>
</body>
</html>