<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Cours Étudiant</title>
</head>
<body>
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    
    <h2>Chapitres</h2>
    <ul>
        {% for chapter in chapters %}
            <li>{{ chapter.nom_chapitre }}</li>
        {% empty %}
            <p>Pas encore de chapitres disponibles.</p>
        {% endfor %}
    </ul>

    <p><a href="{% url 'my_courses' %}">Retour à Mes Cours</a></p>
</body>
</html>
